@import "globalVariables";
@import "_generals";
*{
    padding: 0;
    margin: 0;
}
.column_form {
    display: flex;
    flex-direction: column;
    text-align: center;
}   
body{
    @extend .column_form;
    min-height: 100%;
    text-align: center;
    align-items: center;
    color: map-get($estilos_generales, letters-color);
    /* animation section */
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}